@font-face {
    font-family: 'RF Dewi';
    src: url('../fonts/RFDewi-Regular.woff2');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&family=Snippet&display=swap');

