/*reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, menu, nav, output, ruby, section,
summary, time, mark, audio, video, * {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-family: 'RF Dewi';
  box-sizing: border-box;
  transition: 0.5s all;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0 !important;
}

.flex {
  display: flex;
}

.gap10 {
  gap: 10px;
}

button {
  cursor: pointer;
}

.button {
  font-size: 20px;
  line-height: 24px;

  height: 60px;
  width: 100%;

  text-align: center;
  border: 2px solid #685F5F;
  border-radius: 4px;
  color: #685F5F;
}

.jcsb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.swiper-pagination-bullet {
  background-color: white !important;
}

.p60 {
  padding: 0 60px;
}

#green {
  background-color: green;
}

#black {
  background-color: black;
}

#blue {
  background-color: blue;
}

#red {
  background-color: red;
}

#white {
  background-color: white;
  border: 1px solid #adb5bd;

}

#brown {
  background-color: brown;
}

#yellow {
  background-color: yellow;
}

#orange {
  background-color: orange;
}

#lightblue {
  background-color: lightblue;
}

#pink {
  background-color: pink;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-top: 110px;
  margin-bottom: 110px;
}

/*select*/

.el-input__suffix {
  right: 5px !important;
}

.el-input--suffix{
  display: flex !important;
}

.el-input__suffix {
  border: none !important;
  color: black !important;
  padding: 0 !important;
  font-weight: bold !important;
  position: relative !important;
}

.el-input--suffix .el-input__inner {
  border: none;
  padding: 0!important;
  font-size: 16px;
  font-weight: bold;

}


/*
  Enter and leave animations can use different
  durations and timing functions.
*/
.slide-fade-enter-active {
  transition: all 2s ease;
}

.slide-fade-leave-active {
  transition: all 0.8s ease;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(-20px);
  opacity: 0;
}

.swiper-button-prev, .swiper-button-next {
  z-index: 1 !important;
}

.component-fade-enter-active, .component-fade-leave-active {
  transition: opacity .5s ease;
}

.component-fade-enter, .component-fade-leave-to
  /* .component-fade-leave-active до версии 2.1.8 */
{
  opacity: 0;
}

.list-item {
  display: inline-block;
  margin-right: 10px;
}

.list-enter-active,
.list-leave-active {
  transition: all .5s;
}

.list-enter, .list-leave-to /* .list-leave-active до версии 2.1.8 */
{
  opacity: 0;
  transform: translateX(-30px);
}

input.vue-pincode-input {
  width: 100%;
  max-width: unset;
  border-radius: 10px;
  font-size: 32px;
  font-weight: 400;
  height: 100%;
}


@media (max-width: 1900px) {
  .p60 {
    padding: 0 30px;
  }

  section {
    padding-left: 32px !important;
    padding-right: 32px !important;
  }

  .wrapper {
    /* padding: 0 32px; */
  }
}

@media (max-width: 1200px) {
  .p60 {
    padding: 0 15px;
  }
  .wrapper{
    gap: 45px;
  }
  section {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
}

@media (max-width: 640px) {
  .wrapper{
    gap: 30px;
  }
  section {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

@media (max-width: 480px) {
  .el-input--suffix .el-input__inner {
    font-size: 14px;
  }
  .wrapper{
    gap: 30px;
    margin-top: 90px;
    margin-bottom: 40px;
  }
}

.el-input__inner,
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

.todo {
  /* padding: 5px; */
  /* box-sizing: border-box; */
  border: 1px solid red !important;
}

