  /*reset*/
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
  p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
  em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b,
  u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
  caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
  embed, figure, figcaption, footer, header, menu, nav, output, ruby, section,
  summary, time, mark, audio, video, * {margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%;font-family: 'RF Dewi'; box-sizing: border-box;}

  h1, h2, h3, h4, h5, h6,p {
    margin: 0 !important;
  }

.flex{
  display: flex;
}

.jcsb {
  display: flex;
  justify-content: space-between;
}

.swiper-pagination-bullet{
  background-color: white !important;
}

.p60{
  padding: 0 60px;
}

#green{
  background-color: green;
}
#black{
  background-color: black;
}
#blue{
  background-color: blue;
}
#red{
  background-color: red;
}
#white{
  background-color: white;
  border: 1px solid #adb5bd;

}
#brown{
  background-color: brown;
}
#yellow{
  background-color: yellow;
}
#orange{
  background-color: orange;
}
#lightblue{
  background-color: lightblue;
}
#pink{
  background-color: pink;
}


@media (max-width:1400px) {
  .p60{
    padding: 0 30px;
  }
}

@media (max-width:1200px) {
  .p60{
    padding: 0 15px;
  }
}

.el-input__inner,
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none !important;
        margin: 0 !important; 
    }

    .todo{
      /* padding: 5px; */
      /* box-sizing: border-box; */
      border: 1px solid red !important;
    }